<div th:fragment="menu">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" th:href="@{/}">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/protegido}">Home Protegido</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/protegido/protegido-2}">Protegido</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/restringido}">Home Restringido</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/restringido/restringido-2}">Restringido</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/liberada}">Home Liberada</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/liberada/liberada-2}">Liberada</a>
		</li>
		<li sec:authorize="isAuthenticated()" class="nav-item">
			<a class="nav-link" href="javascript:void(0);" onclick="document.logout_form.submit();">Salir</a>
		</li>
		<div sec:authorize="isAuthenticated()">
			[Hola] [<span sec:authentication="name"></span>] <br/> [Roles] <span
				sec:authentication="principal.authorities"></span>			
			<form name="logout_form" th:action="@{/logout}" method="POST"></form>
		</div>
	</ul>
</div>